@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.App {
  text-align: center;
}
.input-field {
  padding: 1em;
  margin: 3%;
}
.card {
  border: 2px solid white;
  border-radius: 5%;
  max-width: 100%;
  width: 30%;
  align-items: center;
  margin-left: 35%;
  margin-top: 10%;
}
